doctype 5
html
  head
    block head
      title= title
      link(rel='stylesheet', href='/stylesheets/style.css')
      link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
      link(rel='stylesheet', href='/bootstrap/css/docs.css')
      script(src='/bootstrap/js/jquery-1.10.2.js')
      script(src='/bootstrap/js/bootstrap.js')
  body
    div.container-fluid
      div.row
        div.span4.bs-docs-sidebar
          ul.nav.nav-list.bs-docs-sidenav.affix
            li
              a(href="/")!= "Home"
                i.icon-chevron-right
            li
              a(href="/")!= "AGAIN"
                i.icon-chevron-right

        block content